APP_NAME=easySeri
APP_ENV=local

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=easyseri
DB_USERNAME=usuario_aqui
DB_PASSWORD=tu_password_aqui

# Base de datos legacy del módulo cámaras
CAMARAS_DB_HOST=localhost
CAMARAS_DB_USER=usuario_camaras
CAMARAS_DB_PASS=password_camaras
CAMARAS_DB_NAME=ubicacion